* {
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
}

h1 {
    text-decoration: underline;
}

nav {
    background-color: #162B32;
    width: 100%;
}

#menu {
    background-color: #c01900;
    width: 100px;
    height: 50px;
    color: #162B32;
    overflow: hidden;
    font-weight: bold;
}

#hamburger-lg, #hamburger-med {
    background-color: #c01900;
    width: 50px;
    height: 50px;
}

#bars-lg, #bars-med,
#times-lg, #times-med {
    color: #162B32;
}

#links a {
    margin-inline: 15px;
    text-decoration: none;
    color: #162B32;
}

#links a:hover {
    text-shadow: 0px 0px 5px #fff;
}

#med-nav-menu a:hover {
    text-shadow: 0px 0px 5px #fff;
}

/* font sizes of all text */
@media (min-width: 768px) {
    h1 {
        font-size: 40px !important;
    }

    h3 {
        font-size: 30px !important;
    }

    p, li, #job a {
        font-size: 20px !important;
    }
}

@media (min-width: 1200px) {
    p, li {
        font-size: 25px !important;
    }
}

#med-nav-menu {
    position: absolute !important;
    background-color: #c01900;
}

/* No menu for small breakpoint */
@media (max-width: 575px) {
    #med-nav-button-menu {
        display: none !important;
    }
}

/* med-nav for medium breakpoint */
@media (max-width: 767px) {
    #large-nav {
        display: none;
    }

    #med-nav-menu {
        transform: translate(-31px, 70px); 
    }

    #med-nav-items {
        text-align: center;
    }

    #med-nav-items a {
        text-decoration: none;
        color: #162B32;
        font-weight: bold;
        padding: 0 15px;
        margin: 5px 0 !important;
    }
}

/* med-nav for medium to large breakpoints */
@media (max-width: 1199px) and (min-width: 768px) {
    #large-nav {
        display: none;
    }
    
    #med-nav-menu {
        transform: translate(-168px, 70px);
    }

    #med-nav-items {
        flex-direction: row !important;
    }

    #med-nav-items a {
        text-decoration: none;
        color: #162B32;
        font-weight: bold;
        padding: 0 15px;
    }
}

/* Remove med-nav for large breakpoint */
@media (min-width: 1200px) {
    #med-nav {
        display: none;
    }
}

#hero {
    background-color: #162B32;
    color: #fff;
}

/* rotating hero picture */
#hero img {
    transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -webkit-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#hero img:hover {
    transform: rotate(-1800deg);
    -ms-transform: rotate(-1800deg);
    -moz-transform: rotate(-1800deg);
    -webkit-transform: rotate(-1800deg);
    -o-transform: rotate(-1800deg);
}

/* hero section for medium and smaller breakpoints */
@media (max-width: 767px) {
    #hero {
        padding-top: 20px;
    }
    
    #hero-img {
        width: 60%;
        height: auto;
        margin: auto !important;
    }
    
    .padding {
        display: none;
    }

    #summary {
        margin-top: 40px;
    }
}

/* hero section for medium to large breakpoint */
@media (min-width: 768px) {
    #hero-img {
        margin-left: 50px;
    }

    #summary {
        margin-left: 50px;
    }
}

/* hero section extra large breakpoint */
@media (min-width: 1200px) {
    #summary {
        margin: 0 100px;
    }
}

/* pulsing arrows */
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    transition-property: all;
    transition-duration: 1s;
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: linear;
}

.page-scroll i {
    color: #162B32;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn-circle {
    width: 100%;
    height: auto;
    border-radius: 60px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    cursor: default;
}

/* professional-exp for medium to small breakpoints */
@media (max-width: 991px) {
    .arrows-right {
        display: none !important;
    }

    #arrows {
        flex-direction: row !important;
        justify-content: center;
    }

    .arrow-icons {
        font-size: 32px;
    }

    .arrows i {
        font-size: 0.5em;
    }

    #prof-div {
        display: block !important;
    }

    #jobs-wrapper {
        align-items: left !important;
        width: 100% !important;
    }

    #update-example {
        display: block !important;
        margin-left: 0 !important;
    }
}

/* professional-exp for large breakpoint */
@media (min-width: 992px) {
    #jobs-wrapper {
        display: inline-flex !important;
    }

    #arrows {
        display: grid !important;
        align-items: center !important;
    }
    
    .arrows-down {
        display: none !important;
    }

    #update-example-container {
        display: inline-flex !important;
    }
}

/* project-exp for medium and smaller breakpoints */
@media (max-width: 991px) {
    #projects {
        display: block !important;
    }

    #synchrolean, #meme {
        width: 85% !important;
    }

    #meme {
        margin-top: 50px !important;
        border-top: 1px solid #162B32;
    }
}

/* project-exp for extra large breakpoint */
@media (min-width: 1200px) {
    #synchrolean, #meme {
        width: 50%;
        padding: 0 20px;
    }

    #synchrolean {
        border-right: 1px solid #162B32;
    }
}

#project-exp, #education {
    border-top: 3px solid #162B32 !important;
}

.school-logo {
    width: 50%;
    height: auto;
}

/* education for large and smaller breakpoint */
@media (max-width: 991px) {
    .school-logo {
        width: 25%;
        height: auto;
    }

    #pcc {
        border-top: 1px solid #162B32;
        margin-top: 30px;
        padding-top: 30px;
    }
}

/* education for large breakpoint */
@media (min-width: 992px) {
    #psu, #pcc {
        width: 50%;
        padding: 0 20px;
    }

    #psu {
        border-right: 1px solid #162B32;
    }
}

#contact {
    background-color: #162B32;
    margin-top: 5%;
    color: #c01900;
}

#contact a {
    width: fit-content;
}

#contact i {
    margin-right: 30px;
    color: #c01900;
}